<!DOCTYPE html>
<html>
<head>
  <title>LES VERRINES</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

  
<body>
  
<%= yield %>

  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
  
  <div class="container-fluid footer">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
  <p>Nous suivre</p>
  <ul class="list-inline class=fbtw">
    <li class="tweet"><%= image_tag("twitter.png", :class =>"tweet", :alt =>"twitter")%></li>
    <li class="tweet"><%= image_tag("facebook2.png", :alt =>"facebook")%></li>
  </ul>
  </div>
 </div>
</div>
  
  
</html>
